<mat-card>

  <mat-card-header>Edit Character</mat-card-header>

  <mat-card-content>
    <form>

      <mat-form-field>
        <input matInput name="name" placeholder="Name" [(ngModel)]="character.name" >
      </mat-form-field>

      <br>

      <mat-form-field>
        <input matInput name="culture" placeholder="Culture" [(ngModel)]="character.culture" >
      </mat-form-field>

      <br>

      <div>
        <button mat-raised-button color="primary" (click)="save()">
          {{ character.id ? 'New' : 'Add' }}
        </button>
      </div>

    </form>
  </mat-card-content>

</mat-card>

