<form>

  <div>
    <label>
      Name:<br>
      <input name="name" [(ngModel)]="selectedBook.name" >
    </label>
  </div>

  <br>

  <div>
    <label>
      ISBN:<br>
      <input name="isbn" [(ngModel)]="selectedBook.isbn" >
    </label>
  </div>

  <br>

  <div>
    <button (click)="save()">
      {{ selectedBook.id ? 'New' : 'Add' }}
    </button>
  </div>

</form>

<br>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>ISBN</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let book of books" (click)="selectedBook = book">
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.isbn}}</td>
  </tr>
  </tbody>

</table>
